Virginia Administrative Code Title 12. Health
Agency 35. Department of Behavioral Health And Developmental Services Chapter 46. Regulations for Children's Residential Facilities

Part IV. Programs and Services
12VAC35-46-1070. Serious incident reports.
A. Any serious incident, accident, or injury to the resident; any overnight absence from the facility without permission; any runaway; and any other unexplained absence shall be reported within 24 hours (i) to the placing agency; (ii) to either the parent or legal guardian, or both as appropriate; and (iii) noted in the resident's record.
B. The provider shall document the following:
1. The date and time the incident occurred;
2. A brief description of the incident;
3. The action taken as a result of the incident;
4. The name of the person who completed the report;
5. The name of the person who made the report to the placing agency and to either the parent or legal guardian; and
6. The name of the person to whom the report was made.
C. The provider shall notify the department within 24 hours of any serious illness or injury, any death of a resident, and all other situations as required by the department. Such reports shall include:
1. The date and time the incident occurred;
2. A brief description of the incident;
3. The action taken as a result of the incident;
4. The name of the person who completed the report;
5. The name of the person who made the report to the placing agency and to either the parent or legal guardian; and
6. The name of the person to whom the report was made.
D. In the case of a serious injury or death, the report shall be made on forms approved by the department.
Statutory Authority
?? 37.2-203 and 37.2-408 of the Code of Virginia.

Historical Notes
Derived from Virginia Register Volume 25, Issue 21, eff. August 6, 2009.
