Virginia Administrative Code Title 12. Health
Agency 35. Department of Behavioral Health And Developmental Services Chapter 46. Regulations for Children's Residential Facilities

Part IV. Programs and Services
12VAC35-46-940. Behavior interventions.
A. The provider shall develop and implement written policies and procedures for behavioral interventions consistent with the requirements of 12VAC35-115. Minimum provisions shall include rules of conduct and methods for documenting and monitoring the management of resident behavior.
B. Written information concerning the provider's behavioral support and intervention policies and procedures shall be provided prior to admission to prospective residents, legal guardians, and placing agencies. For court-ordered and emergency admissions, this information shall be provided to:
1. Residents within 12 hours following admission;
2. Placing agencies within 72 hours following the resident's admission; and
3. Legal guardians within 72 hours following the resident's admission. The requirements of this subsection do not apply when a state psychiatric hospital is evaluating a child's treatment needs as provided by the Code of Virginia.
C. When substantive revisions are made to policies and procedures governing management of resident behavior, written information concerning the revisions shall be provided to:
1. Residents prior to implementation; and
2. Legal guardians and placing agencies prior to implementation, except when a state psychiatric hospital is evaluating a child's treatment needs as provided by the Code of Virginia.
D. The provider shall develop and implement written policies and procedures governing use of physical restraint that shall comply with the requirements of 12VAC35-115.
E. All physical restraints shall be reviewed and evaluated to plan for continued staff development for performance improvement.
F. Use of physical restraint shall be limited to that which is minimally necessary to protect the resident or others as required by 12VAC35-115.
G. Trained staff members may physically restrain a resident only after less restrictive interventions.
H. Only trained staff members may manage resident behavior.
I. Each application of physical restraint shall be fully documented in the resident's record,

including:
1. Date;
2. Time;
3. Staff involved;
4. Justification for the restraint;
5. Less restrictive interventions that were unsuccessfully attempted prior to using physical restraint;
6. Duration;
7. Description of methods of physical restraint techniques used;
8. Signature of the person completing the report and date; and
9. Reviewer's signature and date.
J. Providers shall ensure that restraint may only be implemented, monitored, and discontinued by staff who have been trained in the proper and safe use of restraint, including hands-on techniques.
K. The provider shall review the facility's behavior intervention techniques and policies and procedures at least annually to determine appropriateness for the population served.
L. Any time children are present, staff shall be present who have completed all trainings in behavior intervention.
Statutory Authority
??37.2-203 and 37.2-408 of the Code of Virginia.
Historical Notes
Derived from Virginia Register Volume 25, Issue 21, eff. August 6, 2009; amended, Virginia Register Volume 41, Issue 18, eff. June 19, 2025.
